<footer class="je-footer">
    <div class="je-footer-wrapper">

        <div class="icon-and-label-horizontal">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <path
                    d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                </path>
            </svg>
            <div><a href="tel:+4792600428">+47 92 60 04 28</a></div>
        </div>

        <div class="icon-and-label-horizontal">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <div>hei@jorgeneidem.no</div>
        </div>

        <div class="icon-and-label-horizontal">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.9432 18.0429C7.7763 18.0429 7.69285 17.8203 7.69285 17.3734V6.3374C7.69285 6.12414 7.65019 6.02399 7.56303 6.03698C7.03636 6.1705 6.77117 6.23726 6.76375 6.23726C6.61725 6.25024 6.54492 6.10374 6.54492 5.79775V4.83898C6.54492 4.57379 6.62466 4.42358 6.78415 4.3902L9.42122 3.71146C9.44162 3.70589 9.47129 3.70218 9.51024 3.70218C9.65674 3.70218 9.72906 3.85796 9.72906 4.17137V17.3753C9.72906 17.8222 9.6419 18.0447 9.46944 18.0447L7.9432 18.0429V18.0429ZM14.7733 18.0633C14.5062 18.0633 14.2762 18.0447 14.0797 18.0076C13.8831 17.9706 13.6791 17.8871 13.4658 17.7573C13.2526 17.6275 13.0783 17.4494 12.941 17.2232C12.8038 16.997 12.6925 16.6798 12.6072 16.2737C12.5219 15.8676 12.4774 15.3854 12.4774 14.8254V9.70328C12.4774 9.56976 12.4403 9.503 12.368 9.503H11.7486C11.5817 9.503 11.4982 9.34351 11.4982 9.02454V8.48489C11.4982 8.1585 11.5817 7.99531 11.7486 7.99531H12.368C12.4403 7.99531 12.4774 7.90629 12.4774 7.72641L12.6573 3.84127C12.6777 3.48892 12.763 3.31274 12.9169 3.31274H13.9165C14.0834 3.31274 14.1668 3.48892 14.1668 3.84127V7.72641C14.1668 7.90629 14.2058 7.99531 14.2874 7.99531H15.5614C15.7283 7.99531 15.8118 8.1585 15.8118 8.48489V9.02454C15.8118 9.34351 15.7283 9.503 15.5614 9.503H14.2837C14.2373 9.503 14.2058 9.51413 14.1891 9.53823C14.1724 9.56049 14.165 9.61612 14.165 9.70328V14.8569C14.165 15.2426 14.1891 15.5653 14.2392 15.8212C14.2892 16.0771 14.3616 16.2663 14.458 16.385C14.5544 16.5037 14.6509 16.5853 14.7473 16.6242C14.8437 16.665 14.9624 16.6835 15.1015 16.6835H15.8099C15.9898 16.6835 16.0788 16.8078 16.0788 17.0526V17.6516C16.0788 17.9242 15.9824 18.0614 15.7895 18.0614L14.7733 18.0633V18.0633ZM18.6065 19.2613C18.7585 19.2613 18.892 19.137 19.0052 18.8867C19.1183 18.6363 19.1758 18.2821 19.1758 17.8222C19.1758 17.7146 19.109 17.3456 18.9755 16.7132L17.0172 8.5739C17.0042 8.48118 16.9968 8.407 16.9968 8.35322C16.9968 8.11399 17.0468 7.99345 17.147 7.99345H18.3561C18.4488 7.99345 18.5249 8.02498 18.5861 8.08803C18.6473 8.15108 18.6936 8.27904 18.7251 8.47191L20.0233 15.3428C20.0492 15.4225 20.0659 15.4633 20.0734 15.4633C20.0993 15.4633 20.1142 15.4262 20.1142 15.3539L21.1323 8.50158C21.1582 8.3013 21.2009 8.16777 21.2565 8.0973C21.3121 8.02683 21.3845 7.9916 21.4716 7.9916H22.3099C22.423 7.9916 22.4805 8.12141 22.4805 8.38104C22.4805 8.44038 22.4731 8.51827 22.4601 8.61099L20.6816 17.8704C20.5425 18.6363 20.3886 19.2223 20.2217 19.6285C20.0548 20.0346 19.8694 20.3109 19.6617 20.4574C19.4558 20.6039 19.1832 20.68 18.842 20.6874H18.7418C18.2022 20.6874 17.8369 20.5446 17.644 20.2571C17.5902 20.1978 17.5642 20.0439 17.5642 19.7972C17.5642 19.3039 17.644 19.0573 17.8035 19.0573C17.8165 19.0573 17.937 19.0907 18.1632 19.1574C18.3932 19.2279 18.5397 19.2613 18.6065 19.2613V19.2613Z"
                    fill="currentColor" stroke="currentColor" stroke-width="0.519254" stroke-miterlimit="10" />
                <path
                    d="M2.91757 18.0613C2.75066 18.0613 2.66721 17.8388 2.66721 17.3918V6.35582C2.66721 6.14256 2.62456 6.04241 2.5374 6.0554C2.01072 6.18892 1.74553 6.25568 1.73812 6.25568C1.59161 6.26866 1.51929 6.12216 1.51929 5.81617V4.8574C1.51929 4.59221 1.59903 4.442 1.75851 4.40862L4.39744 3.72802C4.41784 3.72246 4.44751 3.71875 4.48645 3.71875C4.63296 3.71875 4.70528 3.87453 4.70528 4.18793V17.3918C4.70528 17.8388 4.61812 18.0613 4.44566 18.0613H2.91757V18.0613Z"
                    fill="currentColor" stroke="currentColor" stroke-width="0.519254" stroke-miterlimit="10" />
            </svg>
            <div>Bygget med <a href="https://www.11ty.dev/">Eleventy</a></div>
        </div>

        <div class="icon-and-label-horizontal">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect>
                <rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect>
                <line x1="6" y1="6" x2="6.01" y2="6"></line>
                <line x1="6" y1="18" x2="6.01" y2="18"></line>
            </svg>
            <div>Hosting på Netlify</div>
        </div>

        <div class="icon-and-label-horizontal">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path>
                <line x1="16" y1="8" x2="2" y2="22"></line>
                <line x1="17.5" y1="15" x2="9" y2="15"></line>
            </svg>
            <div>Ikoner fra <a href="https://www.11ty.dev/">Feather</a></div>
        </div>



    </div>
</footer>