<header class="je-header">
    <div class="je-header-wrapper">
        <a href="{{ site.url }}" class="je-logo-link">
            <svg width="46" height="55" viewBox="0 0 46 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="j"
                    d="M2.33984 54.2539C5.83984 54.2539 8.49219 53.4701 10.2969 51.9023C12.1198 50.3529 13.0312 48.0469 13.0312 44.9844V13.8945H5.04688V44.7656C5.04688 46.0052 4.74609 46.8802 4.14453 47.3906C3.5612 47.9193 2.58594 48.1836 1.21875 48.1836C1.03646 48.1836 0.863281 48.1745 0.699219 48.1562C0.516927 48.1562 0.352865 48.1562 0.207031 48.1562V54.1719C0.44401 54.1901 0.772135 54.2083 1.19141 54.2266C1.61068 54.2448 1.99349 54.2539 2.33984 54.2539ZM9.03906 9.27344C10.2786 9.27344 11.3359 8.84505 12.2109 7.98828C13.0859 7.11328 13.5234 6.0651 13.5234 4.84375C13.5234 3.60417 13.0859 2.55599 12.2109 1.69922C11.3359 0.824219 10.2786 0.386719 9.03906 0.386719C7.81771 0.386719 6.76042 0.824219 5.86719 1.69922C4.97396 2.55599 4.52734 3.60417 4.52734 4.84375C4.52734 6.0651 4.97396 7.11328 5.86719 7.98828C6.76042 8.84505 7.81771 9.27344 9.03906 9.27344Z"
                    fill="currentColor" />
                <path id="e"
                    d="M31.5047 44.6289C33.7104 44.6289 35.6154 44.3555 37.2195 43.8086C38.8419 43.2435 40.1909 42.5143 41.2664 41.6211C42.3602 40.7279 43.2169 39.7708 43.8367 38.75C44.4565 37.7109 44.8849 36.7174 45.1219 35.7695L45.1766 35.4961H37.7391L37.657 35.6602C37.4747 36.043 37.1284 36.4714 36.618 36.9453C36.1258 37.401 35.4695 37.8021 34.6492 38.1484C33.8289 38.4948 32.8354 38.668 31.6688 38.668C30.2286 38.668 28.9891 38.349 27.95 37.7109C26.9109 37.0729 26.1089 36.1523 25.5438 34.9492C24.9786 33.7461 24.6961 32.2969 24.6961 30.6016V27.375C24.6961 25.625 24.9786 24.1484 25.5438 22.9453C26.1271 21.724 26.9109 20.8034 27.8953 20.1836C28.8979 19.5456 30.0372 19.2266 31.3133 19.2266C32.6076 19.2266 33.7378 19.5365 34.7039 20.1562C35.6883 20.7578 36.4539 21.6602 37.0008 22.8633C37.3977 23.7084 37.6552 24.7019 37.7734 25.8438C35.8697 25.8438 27.208 25.8438 27.208 25.8438C27.208 25.8438 27.0467 26.5 27.0467 28C27.0467 29.1123 27.1095 30.8477 27.1095 30.8477H45.4227V28.3594C45.4227 25.3151 44.8484 22.6628 43.7 20.4023C42.5516 18.1419 40.9109 16.3828 38.7781 15.125C36.6453 13.8672 34.1115 13.2383 31.1766 13.2383C28.2599 13.2383 25.7169 13.8854 23.5477 15.1797C21.3966 16.474 19.7286 18.2969 18.5438 20.6484C17.3771 23 16.7938 25.7708 16.7938 28.9609V28.9883C16.7938 32.2148 17.3862 34.9948 18.5711 37.3281C19.756 39.6615 21.4422 41.4661 23.6297 42.7422C25.8354 44 28.4604 44.6289 31.5047 44.6289Z"
                    fill="currentColor" />
            </svg>
        </a>
        <nav class="je-sociallinks-container">

            {% include 'components/socialIcons.liquid' %}

        </nav>


    </div>
</header>