<div class="je-hero-wrapper">
    <div class="je-hero-textpane">
        <h1>Jørgen Eidem </h1>
        <h4>Digital designer</h4>
    </div>
    <div class="je-hero-imagepane">
        <div class="je-imposter-relative-container">

            {% include 'components/bgAnimation.liquid' %}

            <div class="je-imposter-absolute-container">
                <img src="/images/jorgen-600.jpg"
                    alt="Headshot of Jørgen Eidem slightly smiling, wearing glasses and a button-down shirt">
            </div>

        </div>

    </div>
</div>