<a href="https://github.com/jorgeneidem" class="round" aria-label="Jørgen Eidem på GitHub">
    {% include 'icons/github-fill.liquid' %}
</a>
<a href="https://www.linkedin.com/in/j%C3%B8rgen/" class="square" aria-label="Jørgen Eidem på LinkedIn">
    {% include 'icons/linkedin-box-fill.liquid' %}
</a>
<a href="https://www.instagram.com/jorgeneidem/" class="squircle" aria-label="Jørgen Eidem på Instagram">
    {% include 'icons/instagram-fill.liquid' %}
</a>