<a href="#" class="round">
    {% include 'icons/github-fill.liquid' %}
</a>
<a href="#" class="square">
    {% include 'icons/linkedin-box-fill.liquid' %}
</a>
<a href="#" class="squircle">
    {% include 'icons/instagram-fill.liquid' %}
</a>