<a href="https://github.com/jorgeneidem" class="round">
    {% include 'icons/github-fill.liquid' %}
</a>
<a href="https://www.linkedin.com/in/j%C3%B8rgen/" class="square">
    {% include 'icons/linkedin-box-fill.liquid' %}
</a>
<a href="https://www.instagram.com/jorgeneidem/" class="squircle">
    {% include 'icons/instagram-fill.liquid' %}
</a>