body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: #c4cbda;
  font-size: 16px;
  background-color: #0f1624;
  padding: 16px;
  line-height: 1.5;
}

a {
  text-decoration: underline;
  color: #9aabd0;
}

main {
  max-width: 1040px;
  margin: 0 auto 80px;
}

summary {
  font-weight: 700;
}

.experience {
  color: rgb(191, 192, 203);
}

.experience h3,
.experience p {
  margin: 0;
  padding: 0;
}

.grid div > * {
  max-width: 48ch;
}

@media screen and (max-width: 640px) {
  h2 {
    display: none;
  }

  h2,
  h3 {
    font-size: 22px;
  }
}

.experience h2,
.experience h3 {
  color: #6a768c;
}

.experience ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.experience ul li {
  margin: 0 0 16px 0;
}

.grid {
  display: grid;
}

.desktop-to-kolonner {
  margin-bottom: 40px;
}

@media screen and (min-width: 640px) {
  .desktop-to-kolonner {
    gap: 24px;
    grid-template-columns: 8fr 10fr;
  }
}

@media screen and (min-width: 800px) {
  .desktop-to-kolonner {
    gap: 40px;
    grid-template-columns: 14fr 11fr;
  }
}

a.je-logo-link,
a.je-logo-link:visited {
  color: #303c57;
  transition: all 0.25s ease 0s;
}

a.je-logo-link:hover {
  color: #2e3a53;
}

a.je-logo-link:active {
  color: #171e2f;
}

.je-logo-link__footer {
  transform: scale(0.75);
  margin-left: -8px;
}

.je-header-wrapper,
.je-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 0 8px 0;
}

.je-header-wrapper {
  justify-content: space-between;
}

.je-footer-wrapper {
  color: #303c57;
  gap: 8px;
}

.je-footer-wrapper svg {
  color: #303c57;
  transform: scale(0.85);
}

.je-sociallinks-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 180px;
  justify-content: space-between;
}

.je-sociallinks-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  transition: all 0.35s ease 0s;
}

.je-sociallinks-container a svg {
  transition: all 0.35s ease 0s;
  fill: #303c57;
  transform: scale(1.25);
}

.je-sociallinks-container a:hover {
  background-color: rgb(33, 45, 69);
  cursor: pointer;
  transform: scale(1.25);
}

.je-sociallinks-container a.round,
.je-sociallinks-container a.round:hover {
  border-radius: 100px;
}

.je-sociallinks-container a.square,
.je-sociallinks-container a.square:hover {
  border-radius: 4px;
}

.je-sociallinks-container a.squircle,
.je-sociallinks-container a.squircle:hover {
  border-radius: 16px;
}

.je-sociallinks-container a:hover svg {
  fill: #a6b3d3;
}

.je-hero-wrapper {
  display: grid;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  grid-template-columns: 1fr 1fr;
}

.je-hero-textpane,
.je-hero-imagepane {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.je-hero-textpane h1 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.je-hero-textpane h4 {
  font-size: 20px;
  font-weight: 400;
  color: #7b879b;
}

@media screen and (min-width: 640px) {
  .je-hero-textpane h1 {
    font-size: 32px;
  }

  .je-hero-textpane h4 {
    font-size: 24px;
  }
}

@media screen and (min-width: 960px) {
  .je-hero-textpane h1 {
    font-size: 48px;
  }

  .je-hero-textpane h4 {
    font-size: 32px;
  }
}

.je-hero-textpane h1,
.je-hero-textpane h4 {
  margin: 0;
}

.je-hero-textpane {
  padding: 32px 0;
  justify-content: center;
}

.je-hero-imagepane {
  min-height: 164px;
}

.je-imposter-relative-container {
  position: relative;
}

.je-imposter-absolute-container {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  border: 5px #242f47 solid;
  border-radius: 21px;
  opacity: 0.9;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50%;
  max-width: 264px;
}

@media screen and (min-width: 1200px) {
  .je-imposter-absolute-container {
    width: 45%;
  }
}

.je-imposter-absolute-container img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.je-imposter-relative-container svg {
  width: 100%;
}
