---
layout: layouts/main
title: Jørgen Eidem
---
{% include 'components/hero.liquid' %}


<div class="grid desktop-to-kolonner">

<div class="kolonne-om-meg">
<h2>Om meg</h2>
<summary>Jeg driver selskapet <a href="https://digtra.no">Digtra</a> hvor jeg jobber som selvstendig konsulent innenfor UX/UI-design.</summary>
<p>Gjennom Digtra er jeg medeier i teknologiselskapet <a href="https://folq.no">Folq</a> som ble kåret til Norges raskest voksende teknologiselskap i 2021 av <a href="https://www2.deloitte.com/no/no/pages/technology-media-and-telecommunications/fast-50.html">Deloitte</a>.</p>
<p>Som selvstendig konsulent er jeg også medlem i <a href="https://brainbase.no">Brainbase</a>, et nettverk med over 700 erfarne konsulenter i teknologibransjen.</p>
<p>Til daglig jobber jeg mest som UX/UI-designer i autonome team sammen med utviklere, testere, produkt&shy;eiere og lignende, innenfor en variant av smidig-metodikk. Arbeidet tar utgangspunkt i brukerbehov og jeg utfører både interaksjonsdesign, visuelt design, og brukertesting.</p>
<p>Rollen er som oftest plassert i utviklingsavdelingen under IT, men dette varierer med organisasjons&shy;struktur og bedriftens nivå av <a href="https://www.nngroup.com/articles/ux-maturity-model/">UX-modenhet</a>. Jeg fungerer tidvis som en <a href="https://bradfrost.com/blog/post/frontend-design/">frontend-designer</a>, da kun helt <a href="https://bradfrost.com/blog/post/front-of-the-front-end-and-back-of-the-front-end-web-development/">i front av frontenden.</a></p>
<p>Selv om jeg helst er stasjonert under IT går det sjelden en dag uten samhandling på tvers av organisasjonen, med beslutningstagere og interessenter innenfor produktutvikling, markedsføring, fagavdelinger, kundens samarbeidspartnere, eventuelle oppdragsgivere, og ikke minst sluttbrukere.</p>

</div>

<div class="experience">
<h2>Erfaring</h2>
<ul>
{% for experience in collections.experience | reverse %} 
    <li>
        <h3>{{ experience.data.year }}</h3>
        <p>{{ experience.data.summary_no }}</p>
    </li>
{% endfor %}
</ul>
</div>
</div>